body {
  background-color: #f5f5f5;
  background-image:
    repeating-linear-gradient(135deg, #e0e0e0 0 10px, transparent 10px 20px),
    repeating-linear-gradient(225deg, #e0e0e0 0 10px, transparent 10px 20px);
  background-size: 20px 20px;
}
.page__footer {
  display: none !important;
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}
/* Hide recent posts section on the homepage */
.archive, .home .archive, .home .entries-list, .home .archive__subtitle {
  display: none !important;
} 